<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
구단 정보 <a href="/insertForm">[ADD]</a> <br/>
<table border="2">
    <tr th:each="m : ${base}">
        <td> [[${m.idx}]] </td>
        <td> <img th:src="@{${m.image}}" width="30" /> </td>
        <td> <a th:href="@{/read/{idx}(idx=${m.idx})}">[[${m.team}]]</a> </td>
        <td> <a th:href="@{/delete/{idx}(idx=${m.idx})}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>
